---
import NavBar from "../components/NavBar.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import Header from "../components/Header.astro";
import ContactForm from "../components/ContactForm.astro";
import { Icon } from "astro-icon/components";
---

<ContentLayout>
  <NavBar />
  <Header
    title="Ponte en contacto"
    subtitle="Si tienes alguna pregunta o quieres colaborar en un proyecto, no dudes en enviarme un mensaje. ¡Hablemos!"
  />
  <ContactForm />
  <div class="other-contact">
    <h2>Otras formas de contactarme</h2>
    <p>También puedes encontrarme en estas plataformas.</p>
    <div class="contact-media">
      <a href="https://www.linkedin.com/in/bastian-parra-dev/" target="_blank"
        ><span><Icon name="brand-linkedin" /></span> Linkedin</a
      >
      <a href="https://github.com/Bastian-Parra" target="_blank"
        ><span><Icon name="brand-github" /></span> GitHub</a
      >
    </div>
  </div>
</ContentLayout>

<style>
  [data-icon] {
    font-size: 2rem;
  }

  .other-contact {
    max-width: 450px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
  }

  .other-contact h2 {
    color: #fff;
    font-size: 3vh;
  }

  .other-contact p {
    color: #88909b;
    font-size: 2vh;
  }

  .contact-media {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .contact-media span {
    display: flex;
    color: #374151;
    justify-content: center;
  }

  .contact-media a {
    color: #88909b;
    font-size: 2vh;
    text-decoration: none;
  }

  .contact-media a:hover {
    color: #fff;
    transition: 0.5s;
  }
</style>
