---
import "../assets/styles/components.css";
---

<section class="contact">
  <form class="contact-form" action="mailto:bastian.parra.bernal@gmail.com" method="post" enctype="text/plain">
    <label for="name">Tu nombre</label>
    <input type="text" name="name" id="name" placeholder="John Doe" />
    <label for="email">Tu correo electrónico</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="john.doe@example.com"
    />
    <label for="message">Tu mensaje</label>
    <textarea
      name="message"
      id="message"
      placeholder="¡Hola! Me gustaría conectar contigo..."
      rows="4"
      cols="50"
      
      />
    <input type="submit" value="Enviar mensaje" />
  </form>
</section>
