---

---

<header class="flex flex-col gap-4">
  <h1 class="text-3xl font-space">Hi, I'm Bastian 👋</h1>
  <p class="text-md font-space text-justify text-muted">
    Crafting immersive digital experiences with code. A full-stack developer
    specializing in futuristic interfaces and high-performance applications.
  </p>
</header>
