---
import { useState } from "react";
import "../assets/styles/home.css";
import '@fontsource-variable/onest'
---

<div class="container">
  <div>
    <p>¡Hola! Soy</p>
    <h1>Bastian Parra</h1>
    <h2>Desarrollador <span>Frontend</span> y <span>Backend</span></h2>
  </div>
  <div class="buttons">
    <a class="btn projects" href="/projects">Proyectos</a>
    <a class="btn about" href="/about">Sobre mi</a>
  </div>
</div>
