---
import "../assets/styles/components.css";
import SkillTile from "./SkillTile.astro";
---

<section class="skills-container">
  <h2>Mis Habilidades</h2>
  <div class="skills-grid">
    <SkillTile icon="brand-javascript" skill="JavaScript" />
    <SkillTile icon="brand-css3" skill="CSS3" />
    <SkillTile icon="brand-html5" skill="HTML5" />
    <SkillTile icon="brand-nodejs" skill="Node.js" />
    <SkillTile icon="brand-python" skill="Python" />
    <SkillTile icon="brand-tailwind" skill="Tailwind" />
    <SkillTile icon="file-type-sql" skill="MySQL" />
    <SkillTile icon="brand-react-native" skill="React" />
    <SkillTile icon="brand-mongodb" skill="MongoDB" />
    <SkillTile icon="brand-github" skill="Git & GitHub" />
  </div>
</section>
